.slidecontainer {
    width: 100%;
    height: 100%;
}

.slider{
    width: 80%;
    height: 6vw;
}

table {
	border:1px solid black;
	margin: 0 auto;
}

.config{
    height: 70%;
    width: 70%;
}

td{
	margin: 0 auto;
    text-align: center;
}

.no_padding{
    padding: 0;
}

.no_top_padding{
    padding-top: 0;
}

.update_header{
    vertical-align: bottom;
    background-color: rgb(217, 112, 147);
    color: #fff;
    padding: 0;
}

.th1{
    padding-bottom: 0;
    vertical-align: bottom;
}

.th2{
    padding-bottom: 0;
    vertical-align: bottom;
}
.table_end{
    border-bottom:1px solid #d97093;
}

.td1{
    padding-top: 0;
    padding-bottom: 50px;
    vertical-align: top;
}


.turn_off { 
    color: green;
    background-color: transparent;
    border: none;
    vertical-align: middle;
}

.turn_on { 
    color:red;
    background-color: transparent;
    border: none;
    vertical-align: middle;
}

.button {
    background-color: rgb(217, 112, 147);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2.5vw;
    padding: 15px 32px;
    padding-left: 25px;    
    padding-right: 25px;
    text-align: center; 
  }

h1 {
    color: palevioletred;
    font-size:10vw; /*80px;*/
    text-align: center;
    margin: auto;
}

a { 
    color: inherit; 
    text-decoration:none;
} 


h1.form {
    text-indent: 50px;
}

th, td{
    border:1px solid black;
    padding: 30px;
    font-size: 4vw; /*20px;*/
}

select{
    font-size: 3vw; /*20px;*/
}


/* just for variable testing */
.o1{
    color: #73AD21;
}
.o2{
    color:  aqua;
}
.o3{
    color:  #d97093;
}
.o4{
    color:  darkred;
}