<!DOCTYPE html>

<html>
    <head>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <script>
            function myDemoFunction(name,job) {
            document.getElementById("demo").innerHTML = "Welcome " + name + ", the " + job + ".";
            }

        </script>    
    </head>

    <body>
        <h1>Music Alarm</h1>
        <br>
        <form action="{{ url_for('update_alarm')}}" method="post">
        <table class="config">
            <tr>
                {% set wd_status = "on" %}
                {% if l_config_values[0] == "-" or l_config_values[1] == "-" %}
                    {% set wd_status = "off" %}
                {% endif %}
              <th class="th1">Weekday - {{wd_status}}</th>
                {% set we_status = "on" %}
                {% if l_config_values[2] == "-" or l_config_values[3] == "-" %}
                    {% set we_status = "off" %}
                {% endif %}
              <th class="th1">Weekend - {{we_status}}</th>
            </tr>
            <tr>
              <td class="td1">{{l_config_values[0]}} h {{l_config_values[1]}} min</td>
              <td class="td1">{{l_config_values[2]}} h {{l_config_values[3]}} min</td>
            </tr>
            <tr>
              <td class="no_top_padding"><button style="font-size:3vw" class="turn_{{wd_status}}"><a href="/wd_on_off" class="fa fa-power-off"></a></button></td>
              <td class="no_top_padding"><button style="font-size:3vw" class="turn_{{we_status}}"><a href="/we_on_off" class="fa fa-power-off"></a></button></td>
            </tr>
            <tr>              
              <td colspan=2 class="update_header"><b>Configuration</b></td>
            </tr>
            <tr>
                <td class="time_selector">
                    <select name="wd_hour" id="wd_hour">
                        {%for i in range(1, 24)%}
                            {% if i < 10 %}
                            {% set i = '0' + i|string %}
                            {% else %}
                            {% set i = i|string %}
                            {% endif %}
                            {% if i == l_config_values[0] %}
                                <option value = "{{i}}" selected>{{i}}</option>
                            {% else %}
                                <option value = "{{i}}">{{i}}</option>
                            {% endif %}
                        {%endfor%}
                    </select>hour<br>
                    <select name="wd_minute" id="wd_minute">
                        {%for i in range(0, 60)%}
                            {% if i < 10 %}
                            {% set i = '0' + i|string %}
                            {% else %}
                            {% set i = i|string %}
                            {% endif %}
                            {% if i == l_config_values[1] %}
                                <option value = "{{i}}" selected>{{i}}</option>
                            {% else %}
                                <option value = "{{i}}">{{i}}</option>
                            {% endif %}
                        {%endfor%}
                    </select>minute
                </td>
                <td>
                    <select name="we_hour" id="we_hour">
                        {%for i in range(1, 24)%}
                            {% if i < 10 %}
                            {% set i = '0' + i|string %}
                            {% else %}
                            {% set i = i|string %}
                            {% endif %}
                            {% if i == l_config_values[2] %}
                                <option value = "{{i}}" selected>{{i}}</option>
                            {% else %}
                                <option value = "{{i}}">{{i}}</option>
                            {% endif %}
                        {%endfor%}
                    </select>hour<br>
                    <select name="we_minute" id="we_minute">
                        {%for i in range(0, 60)%}
                            {% if i < 10 %}
                            {% set i = '0' + i|string %}
                            {% else %}
                            {% set i = i|string %}
                            {% endif %}
                            {% if i == l_config_values[3] %}
                                <option value = "{{i}}" selected>{{i}}</option>
                            {% else %}
                                <option value = "{{i}}">{{i}}</option>
                            {% endif %}
                        {%endfor%}
                    </select>minute
                </td>
            </tr>
            <tr>
                <td colspan=2 class="">
                    Number of music to be played:
                    <select name="music_limit" id="music_limit">
                        {%for i in range(1, 5)%}
                            {% if i == l_config_values[4] %}
                                <option value = "{{i}}" selected>{{i}}</option>
                            {% else %}
                                <option value = "{{i}}">{{i}}</option>
                            {% endif %}
                        {%endfor%}
                    </select>
                </td>
            </tr>
            
            <tr>
                <td colspan=2 class="slidecontainer">
                    <input type="range" min=1 max=100 value={{l_config_values[6]}} class="slider" name="volume_slider" id="volume_slider">
                </td>
            </tr>
            <tr>
              <td colspan=2 class="table_end"><button class = "button" type="submit">Save</button></td>
            </tr>
        </table>
        <table>
            <tr>
              <th colspan=4 class="th2">{{l_config_values[5]}}</th>
            </tr>
            <tr>
              <td class="no_padding"><button style="font-size:5vw" class="button"><a href="/unpause/" class="fa fa-play"></a></button></td>
              <td class="no_padding"><button style="font-size:5vw" class="button"><a href="/pause/" class="fa fa-pause"></a></button></td>
              <td class="no_padding"><button style="font-size:5vw" class="button"><a href="/next/" class="fa fa-forward"></a></button></td>
              <td class="no_padding"><button style="font-size:5vw" class="button"><a href="/stop/" class="fa fa-stop"></a></button></td>
            </tr>
          </table>


    </body>
</html>